{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "plugins": ["prettier", "import", "react"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "prettier",
    "prettier/react"
  ],
  "rules": {
    "prefer-const": 2,
    "no-unused-vars": [
      2,
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "no-multiple-empty-lines": [
      2,
      {
        "max": 1
      }
    ],
    "prettier/prettier": [
      2,
      {
        "trailingComma": "all",
        "singleQuote": true,
        "semi": false
      }
    ],
    "react/prop-types": 0,
    "react/prefer-stateless-function": 2,
    "import/newline-after-import": 2,
    "import/imports-first": 2,
    "import/prefer-default-export": 2,
    "import/no-dynamic-require": 2,
    "import/no-extraneous-dependencies": 0,
    "import/no-mutable-exports": 2,
    "import/no-commonjs": 2,
    "import/order": 2
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      }
    }
  }
}
