{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components",
    "stylelint-config-prettier"
  ],
  "rules": {
    "value-keyword-case": ["lower", {
      ignoreKeywords: "dummyValue"
    }]
  },
  "syntax": "scss"
}
