version: 2.1

executors:
  node-maintenance:
    docker:
      - image: cimg/node:20.18.0
        auth:
          username: smarthrinc
          password: $DOCKER_HUB_ACCESS_TOKEN
  node-active-lts:
    docker:
      - image: cimg/node:22.11.0
        auth:
          username: smarthrinc
          password: $DOCKER_HUB_ACCESS_TOKEN
  node-active-lts-browsers:
    docker:
      - image: cimg/node:22.11.0-browsers
        auth:
          username: smarthrinc
          password: $DOCKER_HUB_ACCESS_TOKEN
commands:
  setup-for-test:
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
            - dependencies-test-{{ checksum "package.json" }}-{{ checksum "pnpm-lock.yaml" }}
            # fallback to using the latest cache if no exact match is found
            - modules-cache-
      - run: |
          sudo corepack enable
          sudo corepack prepare
          pnpm install
      - save_cache:
          paths:
            - node_modules
          key: dependencies-test-{{ checksum "package.json" }}-{{ checksum "pnpm-lock.yaml" }}
  check-source:
    steps:
      - run: pnpm audit --prod
      - run: pnpm ui lint
  run-npm-test:
    steps:
      - run: pnpm ui test
      - run: pnpm ui test:build-assets
  run-a11y-test:
    steps:
      - run: pnpm ui exec playwright install
      - run:
          command: pnpm ui build-storybook
      - run:
          command: pnpm dlx http-server ./packages/smarthr-ui/storybook-static --port 6006 --silent
          background: true
      - run:
          command: pnpm ui test-storybook:ci
      - store_test_results:
          path: junit.xml
  run-e2e-test:
    steps:
      - run:
          name: build and store smarthr-ui package
          working_directory: packages/smarthr-ui
          command: npx yalc publish
      - run:
          name: Setup Next.js sandbox
          working_directory: sandbox/next
          command: npx yalc add smarthr-ui
      - run:
          name: Start Next.js sandbox
          working_directory: sandbox/next
          command: pnpm dev
          background: true
      - run:
          name: Run E2E Test
          working_directory: sandbox/next
          command: |
            pnpm playwright install chromium
            pnpm playwright test
  run-chromatic:
    steps:
      - checkout
      - run: pnpm ui run chromatic --project-token=${CHROMATIC_PROJECT_TOKEN} --exit-zero-on-changes --only-changed --storybook-base-dir=packages/smarthr-ui
  run-chromatic-master:
    steps:
      - checkout
      - run: STORYBOOK_NODE_ENV="production" pnpm ui run chromatic --project-token=${CHROMATIC_PROJECT_TOKEN} --auto-accept-changes --only-changed --storybook-base-dir=packages/smarthr-ui
  install-noto-sans-cjk-jp:
    steps:
      - run:
          name: Install NotoSansCJK JP
          command: |
            mkdir /tmp/fonts
            cd /tmp/fonts
            wget https://noto-website-2.storage.googleapis.com/pkgs/NotoSansCJKjp-hinted.zip
            unzip NotoSansCJKjp-hinted.zip
            mkdir -p ~/.fonts
            cp *otf ~/.fonts
            fc-cache -f -v
            fc-match --all
            rm -rf /tmp/fonts
jobs:
  node-maintenance:
    executor: node-maintenance
    resource_class: medium
    steps:
      - setup-for-test
      - check-source
      - run-npm-test
  node-active-lts:
    executor: node-active-lts
    resource_class: medium
    steps:
      - setup-for-test
      - check-source
      - run-npm-test
  a11y-test:
    executor: node-active-lts-browsers
    working_directory: ~/repo
    resource_class: medium
    steps:
      - setup-for-test
      - install-noto-sans-cjk-jp
      - run-a11y-test
  e2e-test:
    executor: node-active-lts-browsers
    working_directory: ~/repo
    resource_class: medium+
    steps:
      - setup-for-test
      - run-e2e-test
  chromatic-deployment:
    executor: node-active-lts
    resource_class: medium+
    steps:
      - setup-for-test
      - run-chromatic
  chromatic-deployment-master:
    executor: node-active-lts
    resource_class: medium+
    steps:
      - setup-for-test
      - run-chromatic-master
workflows:
  multiple_builds:
    jobs:
      - node-maintenance:
          context: smarthr-dockerhub
      - node-active-lts:
          context: smarthr-dockerhub
      - a11y-test:
          context: smarthr-dockerhub
      - e2e-test:
          context: smarthr-dockerhub
      - chromatic-deployment:
          filters:
            branches:
              ignore:
                - master
          context: smarthr-dockerhub
      - chromatic-deployment-master:
          filters:
            branches:
              only:
                - master
          context: smarthr-dockerhub
