version: 2.1

commands:
  run-npm-test:
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
          - dependencies-test-{{ checksum "package.json" }}-{{ checksum "yarn.lock" }}
          # fallback to using the latest cache if no exact match is found
          - modules-cache-
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: dependencies-test-{{ checksum "package.json" }}-{{ checksum "yarn.lock" }}
      # run tests!
      - run: yarn audit --groups dependencies
      - run: yarn lint
      - run: yarn test
      - run: yarn test:build-assets
  # visual regression testing
  run-reg-suit:
    steps:
      - checkout
      - run: |
          if [ -z "$AWS_ACCESS_KEY_ID" ]; then
            echo "No AWS_ACCESS_KEY_ID is set! Failing..."
            exit 1;
          else
            echo "Credentials are available."
          fi
      - restore_cache:
          keys:
            - dependencies-reg-{{ checksum "package.json" }}-{{ checksum "yarn.lock" }}
            - modules-cache-
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: dependencies-reg-{{ checksum "package.json" }}-{{ checksum "yarn.lock" }}
      - run: yarn test-visual
  install-noto-sans-cjk-jp:
    steps:
      - run:
          name: Install NotoSansCJK JP
          command: |
            mkdir /tmp/fonts
            cd /tmp/fonts
            wget https://noto-website-2.storage.googleapis.com/pkgs/NotoSansCJKjp-hinted.zip
            unzip NotoSansCJKjp-hinted.zip
            mkdir -p ~/.fonts
            cp *otf ~/.fonts
            fc-cache -f -v
            fc-match --all
            rm -rf /tmp/fonts
jobs:
  node-v10:
    docker:
      - image: circleci/node:10
        auth:
          username: smarthrinc
          password: $DOCKER_HUB_ACCESS_TOKEN
    steps:
      - run-npm-test
  node-v12:
    docker:
      - image: circleci/node:12
        auth:
          username: smarthrinc
          password: $DOCKER_HUB_ACCESS_TOKEN
    steps:
      - run-npm-test
  reg-suit:
    docker:
      - image: regviz/node-xcb
        auth:
          username: smarthrinc
          password: $DOCKER_HUB_ACCESS_TOKEN
    working_directory: ~/repo
    steps:
      - install-noto-sans-cjk-jp
      - run-reg-suit

workflows:
  multiple_builds:
    jobs:
      - node-v10
      - node-v12
      - reg-suit
