version: 2.1

executors:
  node-maintenance:
    docker:
      - image: cimg/node:16.17.1
        auth:
          username: smarthrinc
          password: $DOCKER_HUB_ACCESS_TOKEN
  node-active-lts:
    docker:
      - image: cimg/node:18.9.0
        auth:
          username: smarthrinc
          password: $DOCKER_HUB_ACCESS_TOKEN
  node-active-lts-browsers:
    docker:
      - image: cimg/node:18.9.0-browsers
        auth:
          username: smarthrinc
          password: $DOCKER_HUB_ACCESS_TOKEN
commands:
  setup-for-test:
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
            - dependencies-test-{{ checksum "package.json" }}-{{ checksum "yarn.lock" }}
            # fallback to using the latest cache if no exact match is found
            - modules-cache-
      - run: yarn install --frozen-lockfile
      - save_cache:
          paths:
            - node_modules
          key: dependencies-test-{{ checksum "package.json" }}-{{ checksum "yarn.lock" }}
  check-source:
    steps:
      - run: yarn audit --groups dependencies
      - run: yarn lint
  run-npm-test:
    steps:
      - run: yarn test -w 1
      - run: yarn test:build-assets
  run-a11y-test:
    steps:
      - checkout
      - restore_cache:
          keys:
            - yarn-packages-reg-{{ checksum "yarn.lock" }}
      - run: yarn install --frozen-lockfile
      - save_cache:
          paths:
            - ~/.cache/yarn
          key: yarn-packages-reg-{{ checksum "yarn.lock" }}
      - run:
          command: yarn storybook
          background: true
      - run:
          command: yarn test-storybook:ci
      - store_test_results:
          path: junit.xml
  # visual regression testing
  run-reg-suit:
    steps:
      - checkout
      - run: |
          if [ -z "$AWS_ACCESS_KEY_ID" ]; then
            echo "No AWS_ACCESS_KEY_ID is set! Failing..."
            exit 1;
          else
            echo "Credentials are available."
          fi
      - restore_cache:
          keys:
            - yarn-packages-reg-{{ checksum "yarn.lock" }}
      - run: yarn install --frozen-lockfile
      - save_cache:
          paths:
            - ~/.cache/yarn
          key: yarn-packages-reg-{{ checksum "yarn.lock" }}
      - run: yarn test-visual
  install-noto-sans-cjk-jp:
    steps:
      - run:
          name: Install NotoSansCJK JP
          command: |
            mkdir /tmp/fonts
            cd /tmp/fonts
            wget https://noto-website-2.storage.googleapis.com/pkgs/NotoSansCJKjp-hinted.zip
            unzip NotoSansCJKjp-hinted.zip
            mkdir -p ~/.fonts
            cp *otf ~/.fonts
            fc-cache -f -v
            fc-match --all
            rm -rf /tmp/fonts
jobs:
  node-maintenance:
    executor: node-maintenance
    steps:
      - setup-for-test
      - check-source
      - run-npm-test
  node-active-lts:
    executor: node-active-lts
    steps:
      - setup-for-test
      - check-source
      - run-npm-test
  reg-suit:
    executor: node-active-lts-browsers
    working_directory: ~/repo
    steps:
      - install-noto-sans-cjk-jp
      - run-reg-suit
  a11y-test:
    executor: node-active-lts-browsers
    working_directory: ~/repo
    steps:
      - install-noto-sans-cjk-jp
      - run-a11y-test

workflows:
  multiple_builds:
    jobs:
      - node-maintenance:
          context: smarthr-dockerhub
      - node-active-lts:
          context: smarthr-dockerhub
      - reg-suit:
          context: smarthr-dockerhub
      - a11y-test:
          context: smarthr-dockerhub
