name: Preview Release (charts)

on:
  pull_request:
    types: [opened, reopened, synchronize]
  pull_request_review:
    types: [submitted]

jobs:
  previewRelease:
    if: ${{ (((github.event_name != 'pull_request_review') && !(startsWith(github.event.pull_request.head.ref, 'merge-release-charts-'))) || (github.event_name == 'pull_request_review') && (startsWith(github.event.pull_request.head.ref, 'merge-release-charts-'))) }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: install dependencies
        run: |
          npm install -g corepack@latest
          corepack enable
          corepack prepare
          pnpm install --filter @smarthr/smarthr-ui-charts
      - name: Build
        run: pnpm --filter @smarthr/smarthr-ui-charts build
      - run: pnpx pkg-pr-new publish packages/charts
