name: close release candidate

on:
  issues:
    types:
      - closed

jobs:
  close_release_candidate:
    if: contains(github.event.issue.labels.*.name, 'release candidate')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: delete branch
        run: git push origin :release-candidate
