name: e2e

on:
  pull_request:
    branches:
      - master

jobs:
  e2e-win-matrix:
    runs-on: windows-latest
    timeout-minutes: 30
    strategy:
      matrix:
        browser: [chrome]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: run
        run: |
          corepack enable
          corepack prepare
          pnpm install
          pnpm ui e2e
        env:
          TESTCAFE_BROWSER: ${{ matrix.browser }}
