name: Preview Release

on:
  pull_request:
    types: [opened, reopened, synchronize]
  pull_request_review:
    types: [submitted]

jobs:
  previewRelease:
    if: ${{ (github.event_name != 'pull_request_review') || (startsWith(github.event.pull_request.head.ref, 'merge-release-')) }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: install dependencies
        run: |
          corepack enable
          corepack prepare
          pnpm ui install
      - name: Build
        run: pnpm ui build
      - run: pnpx pkg-pr-new publish packages/smarthr-ui
